html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    box-sizing: border-box;

    /* colors */
    --bg: #FAF0E6;
    --text: #36454F;
    --white: #FFFCFA;
}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    border-color: var(--text);
}

@font-face {
    font-family: IBM Plex Sans Thin;
    src: url('../assets/IBMPlexSans-Thin.woff2') format('woff2');
}

@font-face {
    font-family: IBM Plex Sans Regular;
    src: url('../assets/IBMPlexSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: IBM Plex Serif Regular;
    src: url('../assets/IBMPlexSerif-Regular.woff2') format('woff2');
}

@font-face {
    font-family: IBM Plex Sans Condensed Light;
    src: url('../assets/IBMPlexSansCondensed-Light.woff2') format('woff2');
}