html {
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    overflow-y: scroll;
}

body {
    margin: 0;
}

@font-face {
    font-family: IBM Plex Sans Thin;
    src: url('../assets/IBMPlexSans-Thin.woff2') format('woff2');
}

@font-face {
    font-family: IBM Plex Sans Regular;
    src: url('../assets/IBMPlexSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: IBM Plex Serif Regular;
    src: url('../assets/IBMPlexSerif-Regular.woff2') format('woff2');
}

@font-face {
    font-family: IBM Plex Sans Condensed Light;
    src: url('../assets/IBMPlexSansCondensed-Light.woff2') format('woff2');
}