.block-link {
    display: block;
    padding: 6rem 1.5rem .5rem;
    color: inherit;
    text-decoration: none;
    margin: 0;
    font-family: IBM Plex Sans Condensed Light;
    font-size: 2rem;
}

.block-link:hover {
    color: black;
}

.block-text {
    margin: 0;
    font-family: IBM Plex Sans Condensed Light;
    font-size: 2rem;
}