.main {
    display: flex;
    background-color: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    background-color: var(--white);
    width: 100%;
    padding: 1rem 16rem;
}