.navigator {
    position: fixed;
    right: 0;
    left: 0;
    /* margin: 0 auto; */
    /* width: 100%; */
    text-align: center;
    /* transform: translateX(-50%); */
    /* display: inline-block; */
}

.navigator > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigator > ul > li {
    display: inline-block;
}