.patchwork-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patchwork-top-spacer-title {
    font-family: IBM Plex Sans Regular;
    font-size: 52pt;
    padding-top: 6rem;
    /* padding-left: 8rem; */
    padding-bottom: .5rem;
}

.patchwork-bottom-spacer {
    height: 6rem;
}

.content-separator {
    padding: .25rem 2rem 0;
}