.title-holder {
    margin: 7rem 1rem 0;
    /* text-align: center; */
    /* position: fixed; */
}

.title {
    font-family: IBM Plex Sans Thin;
    font-size: 11rem;
}

.subtitle {
    font-family: IBM Plex Serif Regular;
    margin-left: 1.05rem
}