.title-holder {
    /* position: fixed; */
    text-align: right;
    padding-right: 12rem;
    padding-top: 21rem;
    /* margin-left: 10rem; */
    /* text-align: center; */
    /* position: fixed; */
}

.title {
    font-family: IBM Plex Sans Thin;
    font-size: 12rem;
}

.subtitle {
    font-family: IBM Plex Serif Regular;
    font-size: 1.2rem;
    margin-left: 1.05rem
}